<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="/css/RightCss.css">

    <title>Lista DropDown</title>
</head>
<body>
    <header class="header">
        <img class="logo" src="../img/logo (1).png">
        <span id="cycloTech">CYCLO TECH</span>
    
    <nav >

        <ul class="menu">
            <li><a href="/" class="a-li">Página Inicial</a></li>
            <li><a href="/pagprodutos" class="a-li">Produtos</a></li>
            <li><a href="/recycle" class="a-li">Recycle</a></li>
            <li><a href="/ajuda" class="a-li">Ajuda</a></li>
            <li><a href="/sobre" class="a-li">Sobre a loja</a></li>
            <li><a href="/login" class="a-li">Minha Conta</a></li>
            <li><a href="/minhaconta" class="a-li">Configurações</a></li>
            <li><a><i class="fa fa-search" id="search"></i></a></li>
            <li><a href="#"><i class="material-icons" id="car">shopping_cart</i></a></li><span id="qtd-car">0</span>
        </ul>
    </nav>
    </header>
    
    <div class="faq">
        <div>
    <section id="section">
        <h2 id="pgfaq">PERGUNTAS FREQUENTES</h2>
            <br>
        <details class="details">
            
            <summary class="summary">Posso adicionar outro produto à Compra que eu fiz?</summary>
            <p class="pfaq">Não, após finalizada, a Compra não poderá ser alterada.
                Para adquirir outro produto, você deverá iniciar uma nova compra. </p>
        </details>

        <details class="details">
            <summary class="summary">Como me cadastrar no site?</summary>
            <p class="pfaq">Vamos lá, é muito simples, você pode se cadastrar acessando esse<a href="/cadastro">link</a></p>
        </details>

        <details class="details">
            <summary class="summary">O que fazer se meu produto veio com defeito?</summary>
            <p class="pfaq">Basta entrar em contato com o suporte técnico e solicitar a troca do produto.</p>
        </details>

        <details class="details">
            <summary class="summary">Errei meu e-mail e/ou senha, serei bloqueado?</summary></summary>
            <p class="pfaq">Não, não será bloqueado, porém, se o pedido for finalizado com o e-mail errado, 
                a correção só poderá ser realizada em sua próxima compra.</p>
        </details>

        <details class="details">
            <summary class="summary">Como funciona o Recycle?</summary>
            <p class="pfaq">O Recycle é um sistema de coletas de materiais eletroeletrônicos com recompensas em forma de cupons de descontos, para saber mais
                sobre suas condições acesse a página do Recycle</p>
        </details>

        <details class="details">
            <summary class="summary">Qualquer pessoa pode receber o produto que eu comprei?</summary>
            <p class="pfaq">Sim, desde que seja maior de 18 anos, esteja munido de documento de identificação e assine o protocolo de entrega.</p>
        </details>
    </section>
    </div>
</div>

    <footer class="rodape">
        <p>CYCLO TECH</p>
        <p id="fim">©2022 por CYCLO TECH.</p> 
        </footer>

</body>
</html>