<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/estilo.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
<div  id="bd-rec">
    <header class="header">
        <img class="logo" src="../img/logo (1).png">
        <span id="cycloTech">CYCLO TECH</span>
    
    <nav >
        <ul class="menu">
            <li><a href="/" class="a-li">Página Inicial</a></li>
            <li><a href="/pagprodutos" class="a-li">Produtos</a></li>
            <li><a href="/recycle" class="a-li">Recycle</a></li>
            <li><a href="/ajuda" class="a-li">Ajuda</a></li>
            <li><a href="/sobre" class="a-li">Sobre a loja</a></li>
            <li><a href="/login" class="a-li">Minha Conta</a></li>
            <li><a href="/minhaconta" class="a-li">Configurações</a></li>
            <li><a><i class="fa fa-search" id="search"></i></a></li>
            <li><a href="#"><i class="material-icons" id="car">shopping_cart</i></a></li><span id="qtd-car">0</span>
        </ul>
    </nav>
    </header>
        
        <div class="rec-imgPrinc">
           <img id="img-rec" src="https://static.wixstatic.com/media/0f5b1b_50954165d19043cdab28f3d79184099d~mv2.jpg/v1/fill/w_912,h_514,al_c,lg_1,q_85,enc_auto/AlltechCropScience_Artigo_Agro-mos_TecnologiaAliadaNatureza.jpg">
            <p id="p1-rec">RECYCLE</p>
            <p id="p2-rec"> Construindo</p>
            <p id="p3-rec">N o v o s</p>
            <p id="p4-rec">C y c l o s</p>
        </div>
   
        <div class="cont-rec">
<h1 class="tit-rec">RECYCLE</h1>

    <p class="p-rec" id="rec-sob"> A Cyclo Tech acredita que a natureza e a tecnologia devem andar juntas. 
        Por isso, com recycle, você pode fazer o descarte correto do seu eletroeletrônico usado, 
        contribuindo com o meio ambiente além de aquirir um cupom de desconto da loja.</p>

<h1 class="tit-rec"> COMO PARTICIPAR?</h1>

    <p class="p-rec" id="rec-part">Para participar do programa RECYCLE e adquirir desconto na sua próxima compra é nécessario
    levar seu eletroeletrônico à um dos postos de coletas ou lojas físicas da Cyclo Tech onde
     o vendedor responsável realizará seu cadastro. O valor do desconto será enviado em forma
      de cupom para sua conta após a análise do seu produto.</p>
  
<h1 class="tit-rec">RESTRIÇÕES</h1>

<div id="restri">
    <div>
        <p class="p-rec">O produto deve ser correspondente as marcas vendidas na Cyclo Tech:
   <b>Apple, Samsung</b> ou <b>Dell</b>. </p>
    </div>

    <div>
        <p class="p-rec">O cadastro só será realizado com a apresentação do produto no ponto de coleta ou loja.</p>   
    </div>
 
    <div>
        <p class="p-rec"> Produtos de grande porte podem ser cadastrados atráves do Cyclo Tech  whatsapp.</p>
    </div>
 
</div>
<h4 id="fin-rec">COMECE VOCÊ UM NOVO CYCLO !</h4>
</div> 

<div class="cx-cad-rec">
<div id="cad-rec">
<h2 id="tit-cad-rec">CADASTRO RECYCLE</h2>

<form action="/recycle" method="post">

<label class="lb-rec" id="lb-rec">Nome do Cliente *</label><br>
<input type="text" name="nome_cliente" class="input-rec" required="required" maxlength="40"><br>

<label class="lb-rec"></label>CPF *</label><br>
<input type="text" name="cpf" class="input-rec" required="required" maxlength="11" minlength="11"><br>

<label class="lb-rec"></label>Email *</label><br>
<input type="email" name="email" class="input-rec" required="required"><br>

<label class="lb-rec"></label>Descrição do Produto *</label><br>
<textarea name="descricao" rows="5" cols="30" class="input-rec" id="desc-rec" required="required"></textarea>

<button id="bt-env-rec" type="submit">Enviar</button>

    </form>
    <div id="ps-rec">
        <p> Em caso de produtos de grande porte:</p><br>
   <p id="wpp-rec">Whatsapp Cyclo Tech: (081) 9 4002-8922</p>
    </div>
 

</div>

</div>
</div>
<footer class="rodape">
    <p>CYCLO TECH</p>
    <p id="fim">©2022 por CYCLO TECH.</p> 
</footer>

</body>
</html>